* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 1rem;
}

button {
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    transition: ease 0.3s;
    font-size: 20px;
    height: 150px;
    width: auto;
}

button:hover {
    background-color: rgb(66, 167, 255);
    transform: scale(1.02);
}