* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .1rem;
}

h1 {
    font-size: 40px;
    margin: 0;
}

p {
    font-size: 25px;
}

.buddy {
    font-size: 60px;
    margin: 0;
}

#message {
    font-size: 30px;
    margin: 0 0 1rem 0;
}

.buttons {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 1rem;
    margin: 0 auto;
    place-content: center;
}

button:not(.start-button) {
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    transition: ease 0.3s;
    font-size: 20px;
    height: 150px;
    width: auto;
}

button:hover {
    background-color: rgb(66, 167, 255);
    transform: scale(1.02);
    cursor: pointer;
}

.name-setup {
    margin: 1.5rem;
}

.start-button {
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    transition: ease 0.3s;
    font-size: 15px;
}

.pet-name {
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 15px;
}